MONGODB_URI=mongodb+srv://rshop_render:<db_password>@cluster0.ahatf7y.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=rshop
PORT=5000
CLOUDINARY_CLOUD_NAME=<your_cloud_name>
CLOUDINARY_API_KEY=<your_api_key>
CLOUDINARY_API_SECRET=<your_api_secret>
